/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	@apply h-full overflow-hidden;
}

/* Page Styles */
.page-container {
	@apply container mx-auto page-padding space-y-10;
}
.page-padding {
	@apply p-4 md:p-10;
}
